.alertt{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 789;
  background-color: grey;
  width: 50%;
  text-align: center;
}
.cart{
  height: 100vh;
  position: relative;


}